.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}
.about_container {
    width: 60dvh;
}
.about_content {
 display: flex;
 gap: 3rem;
 justify-content: space-between;
}
.about_left {
    flex:1;
    text-align: left;
}
.about_right {
    flex:1
}
.about_text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}
.about_input {
    width: 80%;
    border: none;
    border-bottom: 3px solid #334155;
    font-size: var(--fs-xs);
    letter-spacing: 0.1ch;
    font-weight: 500;
    height: 3rem;
    text-align: top;
    color:#334155;
}

input:focus, textarea:focus {
    outline:none;
    animation: border_anim 1s linear forwards;
}

@keyframes border_anim {
   0% {
        border-color: #334155;
   }
   25% {
        border-image: linear-gradient(to right,#334155 0%,#334155 50%, #e11d48 100%) 1;
}
    50% {
        border-image: linear-gradient(to right,#e11d48 0%, #e11d48 75%, #4f46e5 100%) 1;
    }
	100%{
		border-color: var(--clr-indigo);
	}
}

 .about_submit {
    margin-top: 1rem;
    width:150px;
    height:50px;
    background-color: white;
    border:1px solid var(--clr-indigo);
    color:var(--clr-indigo);
    width: 50%;
    transition: all 0.5s ease-in-out;
 }
 .about_submit:hover {
    cursor:pointer;
    color:var(--clr-light);
    background-color: var(--clr-indigo);
 }

 .form_success {
    margin-top:1.5rem;
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(0, 128, 64);
 }
 .message {
    height:60px;
    padding-top:1.5rem;
 }
 .about_link {
    background: radial-gradient(circle,#4f46e5,#e11d48);
    background-clip: text;
    color: transparent;
    animation: letters 5s linear infinite;
    background-size: 200% 200%;
 }

 @keyframes letters {
    0%{
        background-position: 0% 0%;
    }
    
    50%{
        background-position: 100% 100%;
    }
    
    100%{
        background-position: 0% 0%;
    }
 }
 .about_link:hover {
    color: var(--clr-indigo);
    cursor: pointer;
 }
 /* ICONS CAROUSEL */

.about_carousel {
    margin: 0 auto;
    max-width: 350px;
    overflow: hidden;
    display: flex;
    &:hover .about_group {
        animation-play-state: paused;
      }
  }
.about_group {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    will-change: transform;
    animation: scrolling 10s linear infinite;
}
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .about_cell {
    width: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;

    &:nth-child(1) {
      /* background: #7958ff; */
      background-image: url('/assets/icons/react.png');
      background-size: cover;

    }

    &:nth-child(2) {
      /* background: #5d34f2; */
      background-image: url('/assets/icons/js.png');
      background-size: cover;
    }

    &:nth-child(3) {
      /* background: #4300da; */
      background-image: url('/assets/icons/bootstrap.svg');
      background-size: cover;
    }
    &:nth-child(4) {
        /* background: #4300da; */
        background-image: url('/assets/icons/material.svg');
        background-size: cover;
        /* background-repeat: no-repeat;
        background-position: center; */
      }
    &:nth-child(5) {
        /* background: #4300da; */
        background-image: url('/assets/icons/mongodb.png');
        background-size: cover;
      }
      &:nth-child(6) {
        /* background: #4300da; */
        background-image: url('/assets/icons/ejs.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
  }
  .cell_tooltip {
    visibility: hidden;
  }
  .cell1,.cell2,.cell3,.cell4,.cell5,.cell6 {
      position: relative;
       .cell_tooltip {
        position:absolute;
        background-color:var(--clr-indigo);
        color:var(--clr-light);
        padding: 0.25rem;
        font-size: 0.8rem;
        bottom: 0;
        right: 0;
      }
  }
  .cell1:hover, .cell2:hover, .cell3:hover, .cell4:hover, .cell5:hover, .cell6:hover {
    .cell_tooltip {
        visibility: visible;
    }
  }

 /* xs */

@media (max-width: 475px) {
    .about_container {
        min-width: 475px;
    }
    .about_right {
        display: none;
    }
    .about_heading {
        font-size: var(--fs-m)
    }
    .about_text {
        font-size: var(--fs-s)
    }
    .about_icons {
        gap:1rem
    }
}

/* s */

@media (min-width:475px) and (max-width: 640px) {
    .about_container {
        min-width: 640px;
    }
    .about_heading {
        font-size: var(--fs-m)
    }
    .about_text {
        font-size: var(--fs-s)
    }
    .about_content {
        flex-direction: column;
        gap:1rem
    }
}

/* m */

@media (min-width:640px) and (max-width: 768px) {
    .about_container {
        min-width: 768px;
    }
    .about_heading {
        font-size: var(--fs-m)
    }
    .about_text {
        font-size: var(--fs-s)
    }
    .about_input {
        font-size: var(--fs-s);
        height: 2.5rem;
    }
    .about_content {
        flex-direction: column;
        gap:1rem
    }
    .about_submit{
        font-size: var(--fs-m)
    }
}

/* l */

@media (min-width:768px) and (max-width: 1024px) {
    .about_container {
        min-width: 1024px;
    }
    .about_content {
        flex-direction: column;
        gap:1rem
    }
    .about_heading {
        font-size: var(--fs-l)
    }
    .about_text {
        font-size: var(--fs-m)
    }
    .about_input {
        font-size: var(--fs-s);
        height: 3rem;
    }
    .about_carousel {
        max-width: 440px;
    }
}

/* xl */

@media (min-width:1024px) and (max-width: 1280px) {
    .about_container {
        min-width: 1280px;
    }
    .about_heading {
        font-size: var(--fs-l);
    }
    .about_text {
        font-size: var(--fs-m);
    }
    .about_input {
        height: 4rem;
        font-size: var(--fs-s);
    }
    .about_submit{
        font-size: var(--fs-m);
    }
    .message {
        height:10rem;
     }
}

/* 2xl */

@media (min-width:1280px) and (max-width: 1536px) {
    .about_container {
        min-width: 1536px;
    }
    .about_heading {
        font-size: var(--fs-l);
    }
    .about_text {
        font-size: var(--fs-m);
    }
    .about_input {
        height: 4rem;
        font-size: var(--fs-s);
    }
    .message {
        height:10rem;
     }
    .about_submit{
        font-size: var(--fs-m);
    }
}